{{define "title"}}Home{{end}}

{{define "main"}}

<section>
  <div class="">
    <div class="container">
      <div class="books">
        <div class="heading">
          <p>
            RECENTLY READ
            <span>BOOKS</span>
          </p>
          <h2>BOOKS</h2>          
        </div>
        <div class="content">
          <p>
            I end up dropping many of the books I start if they don’t keep my interest, similar to how I'd stop watching an unengaging show or movie.
          </p>
        </div>

        <div class="pt-lg-5">
          <h3>Reading...</h3>
          <div class="row">
            <div class="col-lg-3">
              <div class="d-flex justify-content-center align-items-center align-content-center">
                <div class="book-box">
                  <div class="image">
                    <img src="assets/images/books/blink.jpg" alt="blink" class="img-fluid">
                  </div>
                  <div>
                    <h4 class="title">Blink</h4>
                    <p class="author">Malcolm Gladwell</p>
                    <p class="review">This book teach us about how to think in a blink.<br><br></p>
                    <div>
                      <a type="button" class="btn btn-dark" href="https://medium.com/@udbhav_rohatgi/summary-blink-afc2ab3e58b2" target="_blank">Summary <i class="bi bi-arrow-right"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="pt-lg-5">
          <h3>Completed!</h3>
          <div class="row">
            <div class="col-lg-3">
              <div class="d-flex justify-content-center align-items-center align-content-center">
              <div class="book-box">
                <div class="image">
                  <img src="assets/images/books/ai_2041.jpg" alt="ai_2041" class="img-fluid">
                </div>
                <div>
                  <h4 class="title">AI 2041</h4>
                  <p class="author">Kai-fu Lee</p>
                  <p class="review">This book tell us about 10 AI technologies that take place in next 20 years.</p>
                  <div>
                    <a type="button" class="btn btn-dark" href="https://medium.com/@udbhav_rohatgi/summary-ai-2041-2c3b2e9ca945" target="_blank">Summary <i class="bi bi-arrow-right"></i></a>
                  </div>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{end}}